@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: black;
  padding: 0.3vw;
}

body {
  background-color: rgb(204, 241, 252);
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
}

nav ul li {
  margin: 1.5vw;
  letter-spacing: 2px;
}

nav ul li:hover {
  transform: scale(1.08);
  color: rgb(12, 54, 241);
  transition: 0.2s;
  cursor: pointer;
}

#title {
  font-size: 100px;
  text-align: center;
  margin-top: 1vw;
}

#title-line {
  font-size: 25px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blue;
  font-weight: 100;
}

.logo {
  max-width: fit-content;
  margin: auto;
  margin-top: 1vw;
}

button {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: rgb(38, 94, 247) 3.5px solid;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 2px;
}

.btn {
  max-width: fit-content;
  margin: auto;
  margin-top: 1vw;
  cursor: pointer;
}

#header {
  height: 80vh;
}

button:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  border: 1px solid rgb(5, 39, 231);
  background-color: rgb(31, 52, 245);
  color: rgb(246, 248, 247);
  transition: 0.2s;
  cursor: pointer;
}

.bulletin {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#news-card {
  border-radius: 5px;
  padding: 2vw;
  color: white;
  background-color: rgb(40, 127, 241);
  box-shadow: 5px 5px 20px rgba(119, 119, 119, 0.6);
}

.title {
  font-weight: 900;
  font-size: 20px;
}

.news-desc {
  text-align: justify;
  font-size: 15px;
}

#news-box {
  margin: 5vw;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  gap: 10vw;
}

.image {
  width: 15vw;
  margin: 1.5vw;
}
